<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="/css/styles.css" >
    <script src="/js/script.js" defer></script>
</head>
<body>
    <div class="main-content">
        {{>header}}

        <div class="form-wrapper">
            <form>
                <input placeholder="Location..." />
                <button>Submit</button>
            </form>
            <button id="clf-btn">Get current location forecast</button>
        </div>

        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>

    {{>footer}}
</body>
</html>